* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
    text-decoration: none;
}

:root {
    --white: rgb(255, 255, 255);
    --purple: rgb(120, 20, 255);
    --blue: rgb(0, 0, 255);
    --black: rgb(0, 0, 0);
    --gray: rgb(112, 112, 112);
}

body {
    width: 100vw;
    height: 100vh;

    background: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding-inline: 10%;

    background: var(--white);
}

header a {
    width: 150px;
    height: 50px;

    border: none;
    border-radius: 8px;
    background: var(--purple);

    display: flex;
    align-items: center;
    justify-content: center;

    text-transform: uppercase;
    font-size: 1.5rem;
    color: var(--white);
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    gap: 3rem;
    width: 80%;
    height: 90vh;

    padding-block: 3%;

    background: var(--white);
}

.card-venda {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 40%;
    height: 40%;

    padding: 1rem;

    background: var(--white);
    border-radius: 8px;
    border: 2px solid var(--purple);
}

.info-automovel {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    color: var(--black);
    text-transform: uppercase;
}

select {
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 2px solid var(--black);
    text-transform: uppercase;

    outline: none;
}

.card-venda button {
    cursor: pointer;
    width: 100%;
    height: 40px;
    text-transform: uppercase;
    background: var(--purple);

    border: none;
    border-radius: 8px;
    color: var(--white);
    font-weight: bolder;
}

.card-venda button:hover {
    background: var(--black);
}